In [8]:
#import data to start model

import pandas as pd
from sklearn.model_selection import train_test_split

In [20]:
from sklearn.model_selection import train_test_split

In [9]:
usersdf = pd.read_csv('users_behavior.csv')

In [10]:
#familiarize yourself with the data

usersdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214 entries, 0 to 3213
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     3214 non-null   float64
 1   minutes   3214 non-null   float64
 2   messages  3214 non-null   float64
 3   mb_used   3214 non-null   float64
 4   is_ultra  3214 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 125.7 KB

In [12]:
usersdf.head()

   calls  minutes  messages   mb_used  is_ultra
0   40.0   311.90      83.0  19915.42         0
1   85.0   516.75      56.0  22696.96         0
2   77.0   467.66      86.0  21060.45         0
3  106.0   745.53      81.0   8437.39         1
4   66.0   418.74       1.0  14502.75         0

In [16]:
#find missing data
missing_is_ultra = usersdf['is_ultra'].isnull().sum()
print(f"Number of missing values in 'is_ultra': {missing_is_ultra}")

Number of missing values in 'is_ultra': 0

In [17]:
#find missing data in entire df

missing_values = usersdf.isnull().sum()
print(missing_values)

calls       0
minutes     0
messages    0
mb_used     0
is_ultra    0
dtype: int64

In [19]:
# statiscal data for behavior

usersdf.describe()

             calls      minutes     messages       mb_used     is_ultra
count  3214.000000  3214.000000  3214.000000   3214.000000  3214.000000
mean     63.038892   438.208787    38.281269  17207.673836     0.306472
std      33.236368   234.569872    36.148326   7570.968246     0.461100
min       0.000000     0.000000     0.000000      0.000000     0.000000
25%      40.000000   274.575000     9.000000  12491.902500     0.000000
50%      62.000000   430.600000    30.000000  16943.235000     0.000000
75%      82.000000   571.927500    57.000000  21424.700000     1.000000
max     244.000000  1632.060000   224.000000  49745.730000     1.000000

In [21]:




# Splitting features and target variable
X = usersdf.drop('is_ultra', axis=1)  # Features
y = usersdf['is_ultra']  # Target

# First split: Train (75%) and Temp (25%)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.25, random_state=12345)

In [22]:


# Display the sizes of each split
print("Training Set Size:", len(X_train))
print("Validation Set Size:", len(X_val))
print("Test Set Size:", len(X_test))

Training Set Size: 2410

NameError: name 'X_val' is not defined